In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

In [20]:
gold_data=pd.read_csv('gold_price_data.csv')
gold_data.head()

                   Date\tSPX\tGLD\tUSO\tSLV\tEUR/USD
0  01-02-2008\t1447.160034\t84.860001\t78.470001\...
1  01-03-2008\t1447.160034\t85.57\t78.370003\t15....
2  01-04-2008\t1411.630005\t85.129997\t77.309998\...
3  01-07-2008\t1416.180054\t84.769997\t75.5\t15.0...
4  01-08-2008\t1390.189941\t86.779999\t76.059998\...

In [15]:
gold_data.shape

(187, 1)

In [16]:
#getting basic information about data
gold_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 1 columns):
Date	SPX	GLD	USO	SLV	EUR/USD    187 non-null object
dtypes: object(1)
memory usage: 1.5+ KB

In [17]:
#checking number of missing values
gold_data.isnull().sum()

Date\tSPX\tGLD\tUSO\tSLV\tEUR/USD    0
dtype: int64

In [19]:
#getting the statistical data
gold_data.describe()

                        Date\tSPX\tGLD\tUSO\tSLV\tEUR/USD
count                                                 187
unique                                                187
top     1/31/2008\t1378.550049\t91.400002\t72.349998\t...
freq                                                    1